:root {
    --background: #181818;
    --background2: #252525;
    --primary: #424242;
    --secondary: #929292;
    --zinc: #E0E0E0;
}

h1 {
    margin: 0;
}

.container-game {
    flex: 1 1 0%;
    display: flex;
    gap: 5rem;
    padding: 1rem 3rem;
}

.container-game > div:nth-child(1) {
    flex: 1 1 0%;
    max-width: 452px;
}

.container-game > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid var(--primary);
}

.container-game > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.container-game > div:nth-child(1) > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-data {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow-x: auto;
}

.review {
    width: auto;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

#view-my-review {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    max-width: fit-content;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

#view-my-review:hover {
    background-color: var(--secondary);
}

.container-user-reviews {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.user-reviews {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    overflow-x: auto;
}

.user-reviews > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
}

.user-reviews > a > span {
    max-width: 70px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.user-reviews > a > div {
    box-sizing: border-box;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

#like {
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary);
    transition: all 50ms ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.liked {
    fill: var(--zinc)
}

#like:hover {
    background-color: var(--background2);
}

#addReview {
    border: none;
    background: var(--primary);
    transition: all 100ms ease-in-out;
    cursor: pointer;
    padding: 1rem;
    font-family: "Poppins", sans;
    border-radius: 1rem;
}

#addReview:hover {
    background: var(--background2);
}

.review-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    opacity: 0;
}

.review-modal.active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: all;
    background-color: #181818b0;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
}

.review-modal > div {
    background-color: var(--primary);
    border-radius: 1rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review-modal > div > button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

.review-modal > div > form {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.review-modal > div > form > textarea {
    border: none;
    background: var(--background2);
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    font-size: 1rem;
    resize: none;
    min-height: 10rem;
    padding: 1rem;
}

.review-modal > div > form > label {
    cursor: pointer;
}

.review-modal > div > form > button {
    font-family: "Poppins", sans;
    background: var(--background2);
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: auto;
    max-width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    height: auto;
    border-radius: 0.5rem;
}

.review-modal > div > form > button:hover {
    background: var(--background);
}

@media  screen and (max-width: 1154px) {
    .container-game {
        flex-direction: column;
        padding: 0 0.5rem;
    }

    .container-game > div > img {
        width: 100%;
    }
}