:root {
    --primary: #424242;
    --secondary: #929292;
    --zinc: #E0E0E0;
}

* {
    color: var(--zinc);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    width: 100%;
    height: 50px;
}

.search {
    height: 40px;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search > input {
    width: 100%;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--primary);
}

.search > button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 100%;
    background-color: var(--primary);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.search > button:hover {
    background-color: var(--secondary);
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.min {
    min-width: 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.logo {
    max-width: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    width: 70%;
    object-fit: cover;
}