:root {
    --background: #181818;
    --background2: #252525;
    --primary: #424242;
    --secondary: #929292;
    --zinc: #E0E0E0;

    --red-300: #fca5a5;
    --red-600: #dc2626;

}

h1 {
    margin: 0;
}

.container-content {
    flex: 1 1 0%;
    display: flex;
    gap: 5rem;
    padding: 1rem 3rem;
}

.container-content > div:nth-child(1) {
    max-width: 452px;
}

.container-content > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid var(--primary);
}

.container-review {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review {
    width: auto;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    text-align: justify;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions-container > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

#delete-review {
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--red-300);
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

#edit-review {
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

#delete-review:hover, #edit-review:hover {
    opacity: 75%;
}

#delete-review > svg {
    stroke: var(--red-600);
}

.like-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.liked {
    fill: var(--zinc);
}

#like-review {
    cursor: pointer;
    border: none;
    background: none;
    transition: all 150ms ease-in-out;
}

#like-review:hover {
    scale: 110%;
}

.edit-review-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    opacity: 0;
}

.edit-review-modal.active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: all;
    background-color: #181818b0;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
}

.edit-review-modal > div {
    background-color: var(--primary);
    border-radius: 1rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-review-modal > div > button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

.edit-review-modal > div > form {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.edit-review-modal > div > form > textarea {
    border: none;
    font-family: "Poppins";
    background: var(--background2);
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    font-size: 1rem;
    resize: none;
    min-height: 10rem;
    padding: 1rem 1.5rem;
    text-align: justify;
}

.edit-review-modal > div > form > label {
    cursor: pointer;
}

.edit-review-modal > div > form > button {
    font-family: "Poppins", sans;
    background: var(--background2);
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    width: auto;
    max-width: fit-content;
    margin-left: auto;
    height: auto;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

.edit-review-modal > div > form > button:hover {
    background: var(--background);
}

@media  screen and (max-width: 1154px) {
    .container-content {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    .container-review {
        width: 100%;
        gap: 1rem;
    }

    .container-review > h1 {
        text-align: center;
    }

    .container-game > div > img {
        width: 100%;
    }
}