{% extends 'app/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'root/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/game.css' %}">
    <link rel="stylesheet" href="{% static 'root/styles/toast.css' %}">
{% endblock %}

{% block body %}
    <div class="container-game">
        <div>
            <img src="{{ game.image }}" alt="">

            <div>
                <button id="like">
                    <svg class="{{ liked }}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
                    {{ likes }}
                </button>

                <div>
                    <div class="rating">
                        <label class="starLabel" for="star1" title="1 star" style="cursor: pointer;">
                            <input type="number" value="1" disabled style="display: none;">
                            <svg width="25" height="25" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.95242 4.62272L6.51094 1.31816C6.71098 0.893945 7.28902 0.893945 7.48906 1.31816L9.04756 4.62272L12.5329 5.1559C12.9801 5.22431 13.1583 5.79962 12.8346 6.12962L10.313 8.70009L10.9081 12.3314C10.9845 12.7978 10.5168 13.1534 10.1167 12.9331L7 11.2177L3.88328 12.9331C3.48316 13.1534 3.01545 12.7978 3.09187 12.3314L3.68695 8.70009L1.16545 6.12962C0.841703 5.79962 1.01993 5.22431 1.46711 5.1559L4.95242 4.62272Z" stroke="#E0E0E0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label> 
                        <input type="radio" id="star1" name="rating" style="display: none;" value="1" />

                        <label class="starLabel" for="star2" title="2 stars" style="cursor: pointer;">
                            <input type="number" value="2" disabled style="display: none;">
                            <svg width="25" height="25" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.95242 4.62272L6.51094 1.31816C6.71098 0.893945 7.28902 0.893945 7.48906 1.31816L9.04756 4.62272L12.5329 5.1559C12.9801 5.22431 13.1583 5.79962 12.8346 6.12962L10.313 8.70009L10.9081 12.3314C10.9845 12.7978 10.5168 13.1534 10.1167 12.9331L7 11.2177L3.88328 12.9331C3.48316 13.1534 3.01545 12.7978 3.09187 12.3314L3.68695 8.70009L1.16545 6.12962C0.841703 5.79962 1.01993 5.22431 1.46711 5.1559L4.95242 4.62272Z" stroke="#E0E0E0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                        <input type="radio" id="star2" name="rating" style="display: none;" value="2" />

                        <label class="starLabel" for="star3" title="3 stars" style="cursor: pointer;">
                            <input type="number" value="3" disabled style="display: none;">
                            <svg width="25" height="25" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.95242 4.62272L6.51094 1.31816C6.71098 0.893945 7.28902 0.893945 7.48906 1.31816L9.04756 4.62272L12.5329 5.1559C12.9801 5.22431 13.1583 5.79962 12.8346 6.12962L10.313 8.70009L10.9081 12.3314C10.9845 12.7978 10.5168 13.1534 10.1167 12.9331L7 11.2177L3.88328 12.9331C3.48316 13.1534 3.01545 12.7978 3.09187 12.3314L3.68695 8.70009L1.16545 6.12962C0.841703 5.79962 1.01993 5.22431 1.46711 5.1559L4.95242 4.62272Z" stroke="#E0E0E0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                        <input type="radio" id="star3" name="rating" style="display: none;" value="3" />

                        <label class="starLabel" for="star4" title="4 stars" style="cursor: pointer;">
                            <input type="number" value="4" disabled style="display: none;">
                            <svg width="25" height="25" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.95242 4.62272L6.51094 1.31816C6.71098 0.893945 7.28902 0.893945 7.48906 1.31816L9.04756 4.62272L12.5329 5.1559C12.9801 5.22431 13.1583 5.79962 12.8346 6.12962L10.313 8.70009L10.9081 12.3314C10.9845 12.7978 10.5168 13.1534 10.1167 12.9331L7 11.2177L3.88328 12.9331C3.48316 13.1534 3.01545 12.7978 3.09187 12.3314L3.68695 8.70009L1.16545 6.12962C0.841703 5.79962 1.01993 5.22431 1.46711 5.1559L4.95242 4.62272Z" stroke="#E0E0E0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                        <input type="radio" id="star4" name="rating" style="display: none;" value="4" />

                        <label class="starLabel" for="star5" title="5 stars" style="cursor: pointer;">
                            <input type="number" value="5" disabled style="display: none;">
                            <svg width="25" height="25" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.95242 4.62272L6.51094 1.31816C6.71098 0.893945 7.28902 0.893945 7.48906 1.31816L9.04756 4.62272L12.5329 5.1559C12.9801 5.22431 13.1583 5.79962 12.8346 6.12962L10.313 8.70009L10.9081 12.3314C10.9845 12.7978 10.5168 13.1534 10.1167 12.9331L7 11.2177L3.88328 12.9331C3.48316 13.1534 3.01545 12.7978 3.09187 12.3314L3.68695 8.70009L1.16545 6.12962C0.841703 5.79962 1.01993 5.22431 1.46711 5.1559L4.95242 4.62272Z" stroke="#E0E0E0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                        <input type="radio" id="star5" name="rating" style="display: none;" value="5" />

                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-data">
            <h1>{{ game.name }}</h1>

            {% if review %}
                <div class="review text-ellips">
                    {{ review.text }}
                </div>
                <a id="view-my-review" href="{% url 'app:review' id=review.id %}">Visualizar minha review</a>
            {% else %}
                <div class="">
                    <button id="addReview">Adicionar Review</button>
                </div>
            {% endif %}
            
            
            <div class="container-user-reviews">
                <h2 class="review-title">Review dos usuários</h2>
                <div class="user-reviews">
                    {% for userReview in allReviews %}
                        <a class="user-review-link" href="{% url 'app:review' id=userReview.id %}">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                            </div>
                            <span>{{userReview.user}}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="review-modal">
        <div>
            <button id="closeModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="submit_review">
                <label for="texto">Review</label>
                <textarea id="texto" name="textoDaReview" class="reviewText"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="toast">
                <p>{{message}}</p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        function getCSRFToken() {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === "csrftoken=") {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById("like").addEventListener("click", async () => {
            const res = await fetch("/app/game/{{game.id}}/", {
                method: "POST",
                body: JSON.stringify({
                    type: "liking"
                }),
                headers: {
                    "Content-Type": "Application/json",
                    "X-CSRFToken": getCSRFToken()
                }
            })
            const data = await res.json();

            if(res.ok) {
                window.location.reload();
            }
        });

        function toggleModal() {
            const modal = document.getElementsByClassName("review-modal")[0];
            modal.classList.toggle("active");
        }

        document.getElementById("addReview")?.addEventListener("click", toggleModal);
        document.getElementById("closeModal")?.addEventListener("click", toggleModal);
        const ratings = document.querySelectorAll('[name="rating"]');
        const starLabels = document.querySelectorAll(".starLabel")

        ratings.forEach(current => {
            current.addEventListener("click", async () => {
                const res = await fetch("/app/game/{{game.id}}/", {
                    method: "POST",
                    body: JSON.stringify({
                        type: "rating",
                        nota: parseFloat(current.value)
                    }),
                    headers: {
                        "Content-Type": "Application/json",
                        "X-CSRFToken": getCSRFToken()
                    }
                });
                const data = await res.json();
                
                //alert(data.message.concat(" {{ game.name }}"));

                if(res.ok) {
                    window.location.reload();
                }
            })
        });

        starLabels.forEach(star => {
            const starValue = star.children.item(0).value;
            const starSVG = star.children.item(1);

            if(parseInt(starValue) <= parseInt("{{rate.nota}}")) {
                starSVG.style.fill = "#E0E0E0";
            }
        });
    </script>
{% endblock %}