{% extends 'app/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'root/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/game.css' %}">
{% endblock %}

{% block body %}
    <div class="container-game">
        <div>
            <img src="{{ game.image }}" alt="">

            <div>
                <button id="like">
                    <svg class="{{ liked }}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
                    {{ likes }}
                </button>
                <div>
                    avaliar
                </div>
            </div>
        </div>
        <div>
            <h1>{{ game.name }}</h1>

            {% if review %}
                <div>
                    {{ review.text }}
                </div>
            {% else %}
                <div class="">
                    <button id="addReview">Adicionar Review</button>
                </div>
            {% endif %}
            
            
            <div class="container-user-reviews">
                {% for userReview in allReviews %}
                    <a href="/app/review/{{ userReview.id }}">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        </div>
                        {{userReview.user}}
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="review-modal">
        <div>
            <button id="closeModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="submit_review">
                <label for="texto">Review</label>
                <textarea id="texto" name="textoDaReview" class="reviewText"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function getCSRFToken() {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === "csrftoken=") {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById("like").addEventListener("click", async () => {
            const res = await fetch("/app/game/{{game.id}}/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                }
            })
            const data = await res.json();
            
            alert(data.message.concat(" {{ game.name }}"));

            if(res.ok) {
                window.location.reload();
            }
        });

        function toggleModal() {
            const modal = document.getElementsByClassName("review-modal")[0];
            modal.classList.toggle("active");
        }

        document.getElementById("addReview").addEventListener("click", toggleModal)
        document.getElementById("closeModal").addEventListener("click", toggleModal)
    </script>
{% endblock %}