{% extends 'app/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'root/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/search.css' %}">
{% endblock %}

{% block body %}
    <div class="container-searched-games">
        {% for game in games %}
            <div class="game-container">
                <a class="game-image" href="{% url 'app:game' id=game.id %}">
                    <img src="{{ game.image }}" alt="game name" width="150" height="200">
                </a>
                <div>
                    <a href="{% url 'app:game' id=game.id %}">
                        <h1 class="game-name">{{ game.name }}</h1>
                    </a>

                    <form method="post" class="add-wishlist">
                        {% csrf_token %}
                            {% if not game.onWishlist %}
                                <input type="hidden" name="action" value="add">
                                <button class="add-wishlist-btn">Adicionar a wishList</button>
                            {% else %}
                                <input type="hidden" name="action" value="remove">
                                <button class="remove-wishtlist-btn">Remover da wishList</button>
                            {% endif %}

                            <input type="hidden" name="currentGame" value="{{game.name}}">
                            <input type="hidden" name="searchParams" value="{{searchParams}}">
                        </form>
                </div>
            </div>
            
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}